<header>
  <app-back
    text=""
    picto="icon-arrow-left icon--xlarge"
    class="back-in-top"
  ></app-back>
  <app-theme-header *ngIf="subTheme" [catTheme]="subTheme.navigation" [big]="false"></app-theme-header>
  <div *ngIf="subTheme" class="head-sub-theme">
    <h1>{{ subTheme.title }}</h1>
    <div class="chapo">
      {{ subTheme.chapo }}
    </div>
  </div>
</header>

<app-loader *ngIf="!subTheme" color="#0013b1"></app-loader>

<main *ngIf="subTheme">
  
  <app-list [items]="getItemForList()"></app-list>

  <app-has-helped *ngIf="subTheme.affichagePageAAidee"></app-has-helped>
</main>
