<ul *ngIf="items && items.length > 0" [class]="'ds44-list ' + (cssClass ? cssClass : '')">
  <li *ngFor="let itItem of items">

    <ng-template #content>
      <span class="lbl-link-wrapper">
        <img *ngIf="itItem.img" [src]="itItem.img" aria-hidden="true" />
        <span class="lbl-link">{{ itItem.lbl }}</span>
      </span>
    </ng-template>

    <a *ngIf="itItem.url" 
      [attr.href]="isInternLink(itItem.url) ? null : itItem.url"
      [routerLink]="isInternLink(itItem.url) ? itItem.url : null" 
      [title]="itItem.lbl"
      [target]="isInternLink(itItem.url) ? '_self' : '_blank'">
      <ng-container *ngIf="false; else content"></ng-container>
      <i class="icon icon-arrow-right" aria-hidden="true"></i>
    </a>

    <ng-container *ngIf="itItem.url; else content"></ng-container>

  </li>
</ul>
