@import "/src/theme/importDep.less";

UL.list-item-link.contents {
  padding: 18px;

  LI {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid @grey;

    .lbl-link-wrapper {
      display: flex;
      font-size: 23px;
      font-weight: bold;

      IMG {
        max-width: 50px;
        height: 100%;

        + .lbl-link {
          padding-left: 15px;
        }
      }
      .lbl-link {
        flex: 1;
      }
    }

    // Si lien
    A {
      display: flex;
      justify-content: space-between;
      align-items: center;

      text-decoration: none;

      .lbl-link-wrapper {
        flex: 1;
        color: @blue-grey;

        .lbl-link {
          padding-right: 15px;
        }
      }

      I {
        color: @blue;
      }
    }
  }
}