<div *ngIf="mainCat" class="page-title">

  <div class="page-topbar">

    <app-back
    text=""
    picto="icon-arrow-left icon--xlarge">
  </app-back>

    <div *ngIf="isProfile" class="profile-link">
      <a *ngIf="login.isLogged && login.profil" [routerLink]="'/profile'">
        <img [src]="getProfileImg()" alt="Profil" />
      </a>
    </div>
  </div>

  <div class="page-infos">
    <div class="page-icon" aria-hidden="true">
      <i [class]="'icon ' + mainCat.icon"></i>
    </div>
    <h1>{{  getTitle() }}</h1>
    <p *ngIf="secondaryCat && secondaryCat.subTitle">
      {{ secondaryCat.subTitle }}
    </p>
  </div>
</div>
