<header>
  <app-back
    text=""
    picto="icon-arrow-left icon--xlarge"
    class="back-in-top"
  ></app-back>
  <app-theme-header [catTheme]="catTheme" [big]="false"></app-theme-header>
  <div *ngIf="subTheme" class="head-sub-theme">
    <h1>{{ subTheme.title }}</h1>
    <div class="chapo">
      {{ subTheme.chapo }}
    </div>
  </div>
</header>
<main *ngIf="subTheme">
  <ul
    *ngIf="subTheme.contenu && subTheme.contenu.length > 0"
    class="ds44-list list-item-link contents"
  >
    <li *ngFor="let itContent of subTheme.contenu">
      <a [routerLink]="buildUrlCotent(itContent)">
        <span>
          <img
            *ngIf="getImgContent(itContent)"
            [src]="getImgContent(itContent)"
            aria-hidden="true"
          />
          <span class="lbl-link">{{ itContent.title }}</span>
        </span>
        <i class="icon icon-arrow-right" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
  <app-has-helped *ngIf="subTheme.affichagePageAAidee"></app-has-helped>
</main>
