@import "/src/theme/importDep.less";

HEADER {
  padding: 55px 20px 0;

  APP-BACK {
    position: absolute;
    top: 10px;
    right: 20px;
    color: @blue;
  }

  .sub-title {
    font-size: 17px;
    color: @blue-dark;
    font-weight: bold;
  }
}

.ds44-form__container {
  padding: 0 20px;
  margin-bottom: 0;
}
