<div class="p-contact">
  <div class="p-contact__header">
    <small>Mes contacts</small>
    <br />
    <h3>Repairs 44</h3>
    <br />
    <p>
      Association d'entraide pour les jeunes issu.es de l'Aide sociale à
      l'enfance
    </p>
  </div>
  <div class="p-contact__actions">
    <a
      href="#"
      target="_blank"
      rel="noopener noreferrer"
      class="p-contact__actions__item"
    >
      <app-icon name="phone"></app-icon>
    </a>
    <a
      href="#"
      target="_blank"
      rel="noopener noreferrer"
      class="p-contact__actions__item"
    >
      <app-icon name="mail"></app-icon>
    </a>
    <a
      href="#"
      target="_blank"
      rel="noopener noreferrer"
      class="p-contact__actions__item"
    >
      <app-icon name="marker"></app-icon>
    </a>
  </div>

  <hr />

  <app-contact-details
    *ngIf="contactId"
    [contactId]="contactId"
  ></app-contact-details>

  <hr />

  <div class="p-contact__description">
    lorem ipsum dolor sit amet et concetur lorem ipsum dolor sit amet et
    concetur lorem ipsum dolor sit amet et concetur lorem ipsum dolor sit amet
    et concetur lorem ipsum dolor sit amet et concetur lorem ipsum dolor sit
    amet et concetur lorem ipsum dolor sit amet et concetur lorem ipsum dolor
    sit amet et concetur lorem ipsum dolor sit amet et concetur lorem ipsum
    dolor sit amet et concetur lorem ipsum dolor sit amet et concetur lorem
    ipsum dolor sit amet et concetur lorem ipsum dolor sit amet et concetur
    lorem ipsum dolor sit amet et concetur
  </div>
</div>
