<header>
  <app-back class="back-in-top" text="" picto="icon-arrow-left icon--xlarge">
  </app-back>
  <h1>
    Me connecter
  </h1>
  <div class="sub-title">
    Pour te connecter, indique l’identifiant et le mot de passe que tu as choisis quand tu as créé ton compte.
  </div>
</header>

<main>
  <form (ngSubmit)="login()">

    <div class="ds44-posRel">
      <label for="input-pseudo" class="ds44-formLabel">
        <span class="ds44-labelTypePlaceholder">
          <span>{{ lblService.getLbl('accountCreateS1Field') }}<sup aria-hidden="true">*</sup></span>
        </span>
      </label>
      <input [(ngModel)]="pseudo" id="input-pseudo" type="text" name="pseudo" class="ds44-inpStd"
        [title]="lblService.getLbl('accountCreateS1Field') + ' - obligatoire'" required />
      <button class="ds44-reset" type="button">
        <i class="icon icon-cross icon--sizeL" aria-hidden="true"></i><span class="visually-hidden">
          {{ lblService.getLbl('accountCreateSupField') }} {{ lblService.getLbl('accountCreateS1Field') }}</span>
      </button>
    </div>

    <div class="ds44-posRel">
      <label for="pwd" class="ds44-formLabel">
        <span class="ds44-labelTypePlaceholder">
          <span>{{ lblService.getLbl('accountCreateS3FieldPwd') }}<sup aria-hidden="true">*</sup>
          </span>
        </span>
      </label>

      <input [(ngModel)]="pwd" type="password" id="pwd" name="pwd" class="ds44-inpStd"
        [title]="lblService.getLbl('accountCreateS3FieldPwd') + ' - obligatoire'" required
        autocomplete="current-password" aria-describedby="explanation-pwd" />

      <button class="ds44-showPassword" type="button">
        <i class="icon icon-visuel icon--sizeL" aria-hidden="true"></i>
        <span class="visually-hidden">{{ lblService.getLbl('accountCreateS3PwdDisplay') }}
          {{ lblService.getLbl('accountCreateS3FieldPwd') }}</span>
      </button>

      <button class="ds44-reset" type="button">
        <i class="icon icon-cross icon--sizeL" aria-hidden="true"></i>
        <span class="visually-hidden">{{ lblService.getLbl('accountCreateSupField') }}
          {{ lblService.getLbl('accountCreateS3FieldPwd') }}</span>
      </button>
    </div>

    <div class="ds44-form__container ds44-checkBox-radio_list ">
      <input [(ngModel)]="saveLogin" [ngModelOptions]="{standalone: true}" type="checkbox" id="name-check-saveLogin-m" name="saveLogin" value="yes"
        class="ds44-checkbox" required aria-describedby="mandatory-message-saveLogin" />
      <label for="name-check-saveLogin-m" class="ds44-boxLabel" id="name-check-label-saveLogin-m">
        Retenir le mot de passe
      </label>
    </div>

    <app-loader *ngIf="process" color="#0013b1"></app-loader>

    <div class="btn-wrapper">
      <button class="btn btn-big" [disabled]="process" type="submit">Valider</button>
    </div>
  </form>

  <div class="pwd-reset">
    <a [routerLink]="'TODO'">
      Tu as oublié ton mot de passe ?
    </a>
  </div>
</main>
