<main>
  <div class="welcome-text">
    <h1>{{ lblService.lblTitleWelcome() }}</h1>
    <p class="desc">
      {{ lblService.lblDescWelcome() }}
    </p>
  </div>
  <a class="btn btn-big" [routerLink]="'/account/create'">
    Créer mon compte
  </a>
  <a class="btn btn-big btn-light" [routerLink]="'/account/login'">
    Me connecter
  </a>
  <a class="link-later" [routerLink]="'/intro'" aria-label="Accéder directement aux contenus">
    Plus tard
  </a>
</main>
<footer role="contentinfo"  *ngIf="dataInFooter">
  {{ lblService.lblWelcomeFooter() }}
  <a [routerLink]="getLinkInFooter()">{{ dataInFooter.title }}</a>
</footer>
