@import '/src/theme/importDep.less';

.c-carousel {
  position: relative;

  &__pagination {
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
}

.swipper-carousel-wrap .swiper-container {
  padding: unset;

  .swiper-wrapper .swiper-slide {
    aspect-ratio: 4 / 5;
    width: 100%;
    margin-right: 16px;
  }
}

.ds44-imgRatio {
  height: auto;
  aspect-ratio: 4 / 5;
}

.ds44-card {
  background-color: @white;
  position: relative;

  &:hover {
    box-shadow: none;
  }
}
