<div class="p-contact">
  <div class="p-contact__header">
    <app-back
      text=""
      picto="icon-arrow-left icon--large"
      class="back-in-top"
    ></app-back>
    <small *ngIf="fromContactPage">Mes contacts</small>
    <h3>{{ contact?.title }}</h3>
    <br />
    <p *ngIf="contact?.subTitle">
      {{ contact?.subTitle }}
    </p>
  </div>
  <div class="p-contact__actions">
    <a
      *ngIf="contact && contact.phoneNumber && contact.phoneNumber[0]"
      href="tel:{{ contact.phoneNumber[0] }}"
      target="_blank"
      rel="noopener noreferrer"
      class="p-contact__actions__item"
    >
      <app-icon name="phone"></app-icon>
    </a>
    <a
      *ngIf="mail && mail[0]"
      href="mailto:{{ mail[0] }}"
      target="_blank"
      rel="noopener noreferrer"
      class="p-contact__actions__item"
    >
      <app-icon name="mail"></app-icon>
    </a>
    <a
      *ngIf="getContactLocation()"
      href="https://www.google.com/maps/search/?api=1&query={{
        getContactLocation()
      }}"
      target="_blank"
      rel="noopener noreferrer"
      class="p-contact__actions__item"
    >
      <app-icon name="marker"></app-icon>
    </a>
  </div>

  <hr />

  <app-contact-details
    *ngIf="!isLoading && !isError"
    [contact]="contact"
    [noTitle]="true"
  ></app-contact-details>

  <hr />

  <div
    *ngIf="contact?.description"
    class="p-contact__description"
    [innerHtml]="contact?.description"
  ></div>

  <div
  *ngIf="contact?.location?.description"
  class="p-contact__description"
  [innerHtml]="contact?.location?.description! | sanitizeHtml"
></div>

  <button *ngIf="featContact && isLogged" class="btn btn-full" (click)="addContact()">Ajouter à mes contacts</button>
  <button *ngIf="featContact && !isLogged" class="btn btn-full" disabled>Ajouter à mes contacts</button>
</div>
