<section class="has-helped-wrapper">
  <h2>Est-ce que cette page t’a aidé ?</h2>
  <div class="btn-wrapper">
    <button class="btn btn-light" type="button" aria-pressed="false" aria-label="Oui, cette page m'a été utile">
      <span class="ds44-btnInnerText">Oui</span>
      <i class="icon icon-like icon--sizeL" aria-hidden="true"></i>
    </button>
    <button class="btn btn-light" type="button" aria-pressed="false" aria-label="Non, cette page ne m'a pas été utile">
      <span class="ds44-btnInnerText">Non</span>
      <i class="icon icon-dislike icon--sizeL" aria-hidden="true"></i>
    </button>
  </div>
</section>
