<header role="banner" >
  <app-page-title-custom [mainCat]="this.parentCat" [secondaryCat]="this.curentCat" [isProfile]="false"></app-page-title-custom>
</header>


<main role="main" class="themes with-menu">
  <form ngNativeValidate #question="ngForm" (ngSubmit)="onClickSubmit(question.value)" >
    <div class="ds44-form__container question-input">

      <div class="ds44-posRel">
        <textarea required ngModel  rows="5" cols="1" name="question" class="ds44-inpStd" placeholder="Ma question"
          title="Poser une question"></textarea>
        <div class="btn-wrapper">
          <button class="btn btn-big" type="submit">Poser ma question</button>
        </div>
      </div>
    </div>
  </form>
</main>
