<header>
  <app-page-title-custom [mainCat]="this.parentCat" [secondaryCat]="this.curentCat" [isProfile]="false"></app-page-title-custom>
</header>


<main class="themes with-menu">
  <form ngNativeValidate #question="ngForm" (ngSubmit)="onClickSubmit(question.value)" >
    <div class="ds44-form__container question-input">

      <div class="ds44-posRel">
        <input type="text" name="question" placeholder="Ma question" class="ds44-inpStd " title="Champ standard - obligatoire" required ngModel />
        <div class="btn-wrapper">
          <button class="btn btn-big" type="submit">Poser ma question</button>
        </div>
      </div>
    </div>
  </form>
</main>
