@import '/src/theme/importDep.less';

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex: 1;
  }
}

HEADER {
  display: flex;
  align-items: center;
  padding: 21px 2vw;
  color: @blue;

  > * {
    padding: 0 5px;
  }

  .atu-title {
    flex: 1;
    color: @blue-dark;
    font-size: 18px;
    overflow: hidden;
  }

  .actu-nav {
    > * {
      padding-right: 20px;

      &:last-child {
        padding-right: 0;
      }
    }

    A {
      color: @blue;
    }
  }
}

SECTION.mots-compliques {
  margin-bottom: 60px;
}

SECTION.liens-utils {
  padding: 2rem 1.5rem;
  margin-bottom: 4rem;
  border-radius: @box-radius;
}

.contacts {
  margin-bottom: 4rem;
}

.separator-icon {
  text-align: center;
  display: block;
  color: @blue;
  margin-bottom: 42px;
}

.secondary-content {
  margin: 0 1.7rem;
}


.article-content {
  margin-bottom: 4rem;

  p {
    margin-bottom: 20px;
  }
}

.libre-content {
  margin-bottom: 4rem;
}
