@import "/src/theme/importDep.less";


.splash-screen {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100VH;

  .app-logo IMG {
    margin: auto;
    display: block;
  }
}