<app-heading *ngIf="!noTitle && contact?.title" [options]="{ noBold: true }">
  <a
    class="link"
    style="text-decoration: none"
    [routerLink]="['/contacts', contact?.id]"
    >{{ contact?.title }}</a
  >
</app-heading>

<div class="c-contact-details__line" *ngIf="isContactlocation()">
  <app-icon name="marker"></app-icon>
  <div class="c-contact-details__sub-line">
    <span>{{
      [contact?.location?.building, contact?.location?.stairOrCorridor]
        .join(' ')
        .trim()
    }}</span>
    <span>{{
      [contact?.location?.roadNumber, contact?.location?.roadName]
        .join(' ')
        .trim()
    }}</span>
    <span>{{
      [
        contact?.location?.place,
        contact?.location?.cs,
        contact?.location?.postalCode,
        contact?.location?.city,
        contact?.location?.cedex
      ]
        .join(' ')
        .trim()
    }}</span>
  </div>
</div>

<div class="c-contact-details__line" *ngIf="contact && contact.phoneNumber && contact.phoneNumber[0]">
  <app-icon name="phone"></app-icon>
  <a href="tel:{{ contact?.phoneNumber }}">{{ contact?.phoneNumber }}</a>
</div>

<span *ngFor="let itMail of mail">
  <div class="c-contact-details__line" *ngIf="itMail">
    <app-icon name="mail"></app-icon>
    <a href="mailto:{{ itMail }}">{{ itMail }}</a>
  </div>
</span>


<div class="c-contact-details__line" *ngIf="contact && contact.location && contact.location.website && contact.location.website[0]">
  <app-icon name="link"></app-icon>
  <a
    href="https://{{ contact.location.website[0] }}"
    target="_blank"
    rel="noopener noreferrer"
  >
    {{ contact?.location?.website }}
  </a>
</div>
