<!-- TODO: remove this line to handle it inside the contact-component -->
<app-heading *ngIf="!noTitle && contact?.title" [options]="{ noBold: true }">
  <a
    class="link"
    style="text-decoration: none"
    [routerLink]="['/contacts', contact?.id]"
    >{{ contact?.title }}</a
  >
</app-heading>

<div class="c-contact-details__line" *ngIf="contact?.location">
  <app-icon name="marker"></app-icon>
  <div class="c-contact-details__sub-line">
    <span>{{
      [contact?.location?.roadNumber, contact?.location?.roadName]
        .join(' ')
        .trim()
    }}</span>
    <span>{{
      [
        contact?.location?.cs,
        contact?.location?.postalCode,
        contact?.location?.city
      ]
        .join(' ')
        .trim()
    }}</span>
  </div>
</div>

<div class="c-contact-details__line" *ngIf="contact?.phoneNumber">
  <app-icon name="phone"></app-icon>
  <a href="tel:{{ contact?.phoneNumber }}">{{ contact?.phoneNumber }}</a>
</div>

<div class="c-contact-details__line" *ngIf="contact?.email">
  <app-icon name="mail"></app-icon>
  <a href="mailto:{{ contact?.email }}">{{ contact?.email }}</a>
</div>

<div class="c-contact-details__line" *ngIf="contact?.location?.website">
  <app-icon name="link"></app-icon>
  <a
    href="https://{{ contact?.location?.website }}"
    target="_blank"
    rel="noopener noreferrer"
  >
    {{ contact?.location?.website }}
  </a>
</div>
