<ul *ngIf="dataTitle" class="ds44-collapser">
  <li *ngFor="let itKey of dataTitle; index as i" class="ds44-collapser_element">
    <p role="heading" aria-level="3">
      <button type="button" class="ds44-collapser_button">
        {{ itKey }}
        <i class="icon icon-down icon--sizeXL" aria-hidden="true"></i>
      </button>
    </p>
    <div class="ds44-collapser_content">
      <div *ngIf="dataVal && dataVal.length > i" [id]="prefixId+i">{{dynamiqueAddInnerHTML(i, prefixId+i)}}</div>
    </div>
  </li>
</ul>