<header role="banner" >
  <app-back
    text=""
    picto="icon-arrow-left icon--xlarge"
    class="back-in-top"
  ></app-back>
  <app-theme-header [catTheme]="curentCat"></app-theme-header>
</header>
<main role="main">

  <app-loader *ngIf="!subThemes" color="#0013b1"></app-loader>

  <app-list [items]="getResult()" [isBold]="true"></app-list>

  <div *ngIf="curentCat && curentCat.idContentTrieur">
    <a
      class="btn btn-big"
      [routerLink]="'/keepDoc/' + curentCat.idContentTrieur"
      >{{ lblMng.lblDocTrieur() }}</a
    >
  </div>
</main>
