<header>
  <app-back text="" picto="icon-arrow-left icon--xlarge"></app-back>
  <app-theme-header [catTheme]="curentCat"></app-theme-header>
</header>
<main>
  <ul class="ds44-list list-item-link">
    <li *ngFor="let itSubT of subThemes">
      <a [routerLink]="'./' + itSubT.id">
        <span>{{ itSubT.title }}</span>
        <i class="icon icon-arrow-right" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
  <div *ngIf="curentCat && curentCat.idContentTrieur">
    <a class="btn btn-big" [routerLink]="'/keepDoc/' + curentCat.idContentTrieur">{{lblMng.lblDocTrieur}}</a>
  </div>
</main>