/* You can add global styles to this file, and also import other style files */
@import "./theme/importDep.less";

HTML {
  min-height: 100vh;
}

.full-bg-color {
  background: linear-gradient(#0013B1, #00094B);
  color: @white;
  min-height: 100vh;
}

// Titres
H1 {
  font-family: Muli;
  font-size: 32px;
  color: @blue;
  font-weight: 700;
}

.full-bg-color {

  H1 {
    color: @white;
  }

  A {
    color: @white;
  }
}

MAIN {
  padding: 0px;

  &.with-menu {
    margin-bottom: 60px;
  }
}

.btn-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;

  .btn {
    flex: 1;
  }
}
.btn {
  background: @blue;
  color: @white;
  padding: 16px;
  margin: 5px;
  display: inline-block;
  border: 1px solid @blue;
  border-radius: 50px;

  text-decoration: none;
  text-align: center;

  &:hover {
    background: @blue-light;
    color: @white;
    cursor: pointer;
  }

  &.btn-big {
    display: block;
    margin: 20px;
  }

  &.btn-light {
    background: @white;
    color: @blue;
    font-weight: bold;

    &.active {
      background: @blue;
      color: @white;
    }
  }
}
