/* You can add global styles to this file, and also import other style files */
@import "./theme/importDep.less";

HTML {
  min-height: 100vh;
}

.full-bg-color {
  background: linear-gradient(#0013B1, #00094B);
  color: @white;
  min-height: 100vh;
}

// Titres
H1 {
  font-family: Muli;
  font-size: 32px;
  color: @blue;
  font-weight: 700;
}

.full-bg-color {

  H1 {
    color: @white;
  }

  A {
    color: @white;
  }
}
