/* You can add global styles to this file, and also import other style files */
@import "./theme/importDep.less";

HTML {
  min-height: 100vh;
}

.full-bg-color {
  background: linear-gradient(#0013B1, #00094B);
  color: @white;
  min-height: 100vh;
}

// Titres
H1 {
  font-family: Muli;
  font-size: 32px;
  color: @blue;
  font-weight: bold;

  text-align: center;
}
H2 {
  font-family: Muli;
  font-size: 23px;
  color: @blue-grey;
  font-weight: bold;
  background: none;
  padding: 0px;
  
  display: block;
  text-align: center;
}

.full-bg-color {

  H1 {
    color: @white;
  }

  A {
    color: @white;
  }
}

MAIN {
  padding: 0px;

  &.with-menu {
    margin-bottom: 60px;
  }
}

//-------------------
// BTN
//-------------------
.btn-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;

  .btn {
    flex: 1;
  }
}
.btn {
  background: @blue;
  color: @white;
  padding: 16px;
  margin: 5px;
  display: inline-block;
  border: 1px solid @blue;
  border-radius: 50px;

  text-decoration: none;
  text-align: center;

  &:hover {
    background: @blue-light;
    color: @white;
    cursor: pointer;
  }

  &.btn-big {
    display: block;
    margin: 20px;
  }

  &.btn-light {
    background: @white;
    color: @blue;
    font-weight: bold;

    &.active {
      background: @blue;
      color: @white;
    }
  }
}
//-------------------

UL.list-item-link {
  padding: 18px;

  LI {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid @grey;

    A {
      display: flex;
      justify-content: space-between;
      align-items: center;

      text-decoration: none;

      SPAN {
        flex: 1;
        color: @blue-grey;
        
        IMG {
          max-width: 50px;
        }
      }

      I {
        color: @blue;
      }
    }
  }
}

APP-BACK.back-in-top {
  color: @blue;
  margin-left: 25px;
  position: fixed;
}