<form *ngIf="!accountCreate" class="account-create full-bg-color" data-is-ajax="true">
  <header>
    <app-back class="back-in-top color-w" (returnCustom)="prevStep()" [customProcess]="customReturn()" text=""
      picto="icon-arrow-left icon--xlarge" [hiddenText]="getHiddenTextBackBtn()">
    </app-back>
    <h1>{{ lblService.getLbl('accountCreateTitle') }}</h1>
    <div><sup aria-hidden="true">*</sup>{{ lblService.getLbl('accountCreateRequired') }}</div>
  </header>

  <main>
    <div class="step-infos">
      <div class="step-num">{{ step }} / {{ maxStep }}</div>
      <h2 class="step-title">
        {{ lblService.getLbl(titleByStep[step - 1]) }}
      </h2>
    </div>

    <div [ngSwitch]="step" class="curent-step">
      <div #formDisplay *ngSwitchCase="1">
        <div class="ds44-form__container">
          <div class="ds44-posRel">
            <label for="input-pseudo" class="ds44-formLabel">
              <span class="ds44-labelTypePlaceholder">
                <span>{{ lblService.getLbl('accountCreateS1Field') }}<sup>*</sup></span>
              </span>
            </label>
            <input  [(ngModel)]="pseudo"
                    id="input-pseudo"
                    type="text"
                    name="pseudo"
                    class="ds44-inpStd"
                    [title]="lblService.getLbl('accountCreateS1Field') + ' - obligatoire'"
                    data-required="true"
                    autocomplete="given-name" />
            <button class="ds44-reset" type="button">
              <i class="icon icon-cross icon--sizeL" aria-hidden="true"></i><span class="visually-hidden">
                {{ lblService.getLbl('accountCreateSupField') }} {{ lblService.getLbl('accountCreateS1Field') }}</span>
            </button>
          </div>
        </div>
      </div>

      <div #formDisplay class="step-date" *ngSwitchCase="2">
        <div class="ds44-form__container">
          <div class="ds44-posRel">
            <label for="date-birth" class="ds44-formLabel ds44-datepicker"><span
                class="ds44-labelTypePlaceholder"><span>{{ lblService.getLbl('accountCreateS2FieldDate') }}<sup
                    aria-hidden="true">*</sup></span></span></label>

            <div data-name="date-birth" class="ds44-datepicker__shape ds44-inpStd" data-required="true">
              <input [(ngModel)]="dateDay"
                id="date-birth"
                type="text"
                inputmode="numeric"
                pattern="[0-9]*"
                maxlength="2"
                [title]="lblService.getLbl('accountCreateS2FieldDay')"
                data-is-date="true"
                aria-describedby="explanation-date-birth"
                required
                [ngModelOptions]="{standalone: true}"
                autocomplete="bday-day"  />
              <span>/</span>
              <input [(ngModel)]="dateMonth"
                type="text"
                inputmode="numeric"
                pattern="[0-9]*"
                maxlength="2"
                [title]="lblService.getLbl('accountCreateS2FieldMonth')"
                data-is-date="true"
                aria-describedby="explanation-date-birth"
                required
                [ngModelOptions]="{standalone: true}"
                autocomplete="bday-month" />
              <span>/</span>
              <input [(ngModel)]="dateYear"
                type="text"
                inputmode="numeric"
                pattern="[0-9]*"
                maxlength="4"
                [title]="lblService.getLbl('accountCreateS2FieldYear')"
                data-is-date="true"
                aria-describedby="explanation-date-birth"
                required
                [ngModelOptions]="{standalone: true}"
                autocomplete="bday-year" />
            </div>
            <button class="ds44-reset" type="button">
              <i class="icon icon-cross icon--sizeL" aria-hidden="true"></i>
              <span class="visually-hidden">{{ lblService.getLbl('accountCreateSupField') }}
                {{ lblService.getLbl('accountCreateS2FieldDate') }}</span>
            </button>
            <span class="ds44-calendar" aria-hidden="true" aria-describedby="">
              <i class="icon icon-date icon--large" aria-hidden="true"></i>
              <span class="visually-hidden">
                {{ lblService.getLbl('accountCreateS2FieldDateDisplay') }}
              </span>
            </span>
            <div class="vanilla-calendar hidden"></div>
          </div>
          <div class="ds44-field-information" aria-live="polite">
            <p id="explanation-date-birth" class="indication-aide">
              Ex : 04/05/1977
            </p>
          </div>
        </div>
      </div>

      <div #formDisplay class="step-pwd" *ngSwitchCase="3">
        <div class="ds44-form__container">
          <div class="ds44-posRel">
            <label for="pwd" class="ds44-formLabel">
              <span class="ds44-labelTypePlaceholder">
                <span>{{ lblService.getLbl('accountCreateS3FieldPwd') }}<sup aria-hidden="true">*</sup>
                </span>
              </span>
            </label>

            <input [(ngModel)]="pwd" type="password" id="pwd" name="pwd" class="ds44-inpStd"
              [title]="lblService.getLbl('accountCreateS3FieldPwd') + ' - obligatoire'" required
              autocomplete="current-password" aria-describedby="explanation-pwd" />

            <button class="ds44-showPassword" type="button">
              <i class="icon icon-visuel icon--sizeL" aria-hidden="true"></i>
              <span class="visually-hidden">{{ lblService.getLbl('accountCreateS3PwdDisplay') }}
                {{ lblService.getLbl('accountCreateS3FieldPwd') }}</span>
            </button>

            <button class="ds44-reset" type="button">
              <i class="icon icon-cross icon--sizeL" aria-hidden="true"></i>
              <span class="visually-hidden">{{ lblService.getLbl('accountCreateSupField') }}
                {{ lblService.getLbl('accountCreateS3FieldPwd') }}</span>
            </button>
          </div>
        </div>

        <div class="ds44-form__container">
          <div class="ds44-posRel">
            <label for="pwdConfirm" class="ds44-formLabel">
              <span class="ds44-labelTypePlaceholder">
                <span>{{ lblService.getLbl('accountCreateS3FieldPwdConfirm') }}<sup aria-hidden="true">*</sup>
                </span>
              </span>
            </label>

            <input [(ngModel)]="pwdConfirm" type="password" id="pwdConfirm" name="pwdConfirm" class="ds44-inpStd"
              [title]="lblService.getLbl('accountCreateS3FieldPwdConfirm') + ' - obligatoire'" required
              autocomplete="current-password" aria-describedby="explanation-pwdConfirm" />

            <button class="ds44-showPassword" type="button">
              <i class="icon icon-visuel icon--sizeL" aria-hidden="true"></i>
              <span class="visually-hidden">{{ lblService.getLbl('accountCreateS3PwdDisplay') }}
                {{ lblService.getLbl('accountCreateS3FieldPwdConfirm') }}</span>
            </button>

            <button class="ds44-reset" type="button">
              <i class="icon icon-cross icon--sizeL" aria-hidden="true"></i>
              <span class="visually-hidden">{{ lblService.getLbl('accountCreateSupField') }}
                {{ lblService.getLbl('accountCreateS3FieldPwdConfirm') }}</span>
            </button>
          </div>
        </div>

        <div class="ds44-field-information" aria-live="polite">
          <p id="explanation-pwd" class="indication-aide">
            Nous te recommandons de choisir un mot de passe
            avec au moins 12 caractères, avec des lettres,
            des chiffres et des caractères spéciaux comme le !)
          </p>
        </div>
      </div>

      <div *ngSwitchDefault>Error</div>

    <div class="ds44-field-information ds44-error" *ngIf="isError && errorMsg">
      <ul class="ds44-field-information-list ds44-list">
        <li class="ds44-field-information-error" tabindex="-1">
          <i class="icon icon-attention icon--sizeM" aria-hidden="true"></i>
          <span class="ds44-iconInnerText">{{ errorMsg }}</span>
        </li>
      </ul>
    </div>
  </div>

    <app-loader *ngIf="loading"></app-loader>

  </main>

  <div class="btn-footer">
    <button class="btn btn-full" (click)="nextStep()" [disabled]="loading">
      {{ lblBtnNext() }}
    </button>
  </div>
</form>

<div *ngIf="accountCreate" class="account-create-end">
  <img src="/assets/images/svg/illustration-reussite.svg" />
  <div class="create-end-msg">
    <h1>
      {{ lblService.getLbl('accountCreateEnd') }}
    </h1>
    <div>
      {{ lblService.getLbl('accountCreateEndDesc') }}
    </div>
  </div>
  <a class="btn btn-big" [routerLink]="'/profile'" [queryParams]="{fromCreate: true}">
    {{ lblService.getLbl('accountCreateEndBtnProfil') }}
  </a>
  <a class="btn btn-big btn-light" [routerLink]="'/intro'">
    {{ lblService.getLbl('accountCreateEndBtnNext') }}
  </a>
</div>
